/* public/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  .inventory {
    display: flex;
    flex-direction: column; /* Empiler les lignes les unes en dessous des autres */
    gap: 5px;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .inventory-row {
    display: flex;
    gap: 5px;
  }
  
  .inventory-items {
    flex: 1;
    border: 1px solid #ccc;
    padding: 14px;
    text-align: center;
    cursor: pointer;
}
  
  .inventory-item:hover {
    background-color: #e0e0e0
}  
  
.item-config {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
  
#notif {
  position: fixed;
  top: 20px;
  right: -80px;
  padding: 12px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 25px;
  opacity: 0;
}
#notif::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid rgba(0, 0, 0, 0.2); /* Bordure pour simuler la superposition */
  box-sizing: border-box;
  border-radius: 25px;
  top: 0;
  left: 0;
}

#notif.notif_on {
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease;
  transform: translateX(-100px); /* Modifié pour se décaler vers la gauche (0px) */
}

#notif.notif_off {
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
  transform: translateX(100px); /* Modifié pour se décaler vers la droite (100px) */
}


#notif_title, #notif_text{
  text-align: center;
  direction: rtl;
}

#notif_title {
  font-size: 25px;
}
