/* public/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  .inventory {
    display: flex;
    flex-direction: column; /* Empiler les lignes les unes en dessous des autres */
    gap: 5px;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .inventory-row {
    display: flex;
    gap: 5px;
  }
  
  .inventory-items {
    flex: 1;
    border: 1px solid #ccc;
    padding: 14px;
    text-align: center;
    cursor: pointer;
}
  
  .inventory-item:hover {
    background-color: #e0e0e0
}  
  
.item-config {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* Text */
input[type=text] {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #008585;
    background: rgba(0, 133, 133, 0.2);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: #008585;
}

/* Checkbox */
input[type=checkbox] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #008585;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type=checkbox]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #008585;
    background-color: CanvasText;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform-origin: left top;
}

input[type=checkbox]:checked::before {
    transform: scale(1);
}

/* Radio */
div.radio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .2em;
    margin-left: -2em;
}

input[type=radio] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: #008585;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

input[type=radio]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #008585;
    background-color: CanvasText;
    transform-origin: top bottom;
}

input[type=radio]:checked::before {
    transform: scale(1);
}

/* Color */
input[type=color] {
    padding: 0;
    border: none;
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0;
}

/* Range */
input[type=range] {
    appearance: none;
    background: transparent;
    width: 8em;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -8px;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: transparent;
    border: .2em solid #008585;
}

input[type=range]::-moz-range-thumb {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: transparent;
    border: .2em solid #008585;
}

input[type=range]::-ms-thumb {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: transparent;
    border: .2em solid #008585;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #008585;
    width: 100%;
    border-radius: 1vmin;
    height: .5em;
}

input[type=range]::-moz-range-track {
    background: #008585;
    width: 100%;
    border-radius: 1vmin;
    height: .5em;
}

input[type=range]::-ms-track {
    background: #008585;
    width: 100%;
    border-radius: 1vmin;
    height: .5em;
}

/* Button */
input[type=button] {
    appearance: none;
    border: .2em solid #008585;
    background: hsla(0, 0%, 0%, 0);
    padding: .85em 1.5em;
    color: #008585;
    border-radius: 2em;
    transition: 1s;
}

input[type=button]:hover,
input[type=button]:focus,
input[type=button]:active {
    background: #008585;
    color: #fff;
}

/* File */
input[type=file] {
    display: none;
}

label[for=file] {
    display: grid;
    grid-auto-flow: column;
    grid-gap: .5em;
    justify-items: center;
    align-content: center;
    color: #008585;
    border: .2em solid #008585;
    background: hsla(0, 0%, 0%, 0);
    padding: .85em 1.5em;
    color: #008585;
    border-radius: 2em;
    transition: 1s;
}

label[for=file]:hover,
label[for=file]:focus,
label[for=file]:active {
    background: #008585;
    color: #fff;
}

/* Date */
input[type=date] {
    border: .2em solid #008585;
    padding: .8em .9em;
    border-radius: 2em;
    color: #008585;
}

input[type=date]::-webkit-datetime-edit-text {
    color: red;
    padding: 0 0.3em;
}

input[type=date]::-webkit-inner-spin-button {
    display: none;
}

/* Number */
input[type=number] {
    width: 3em;
    padding: 0.5em;
    border: .2em solid #008585;
    border-radius: 1em;
    text-align: center;
    color: #008585;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    background: red;
}




#notif {
  position: fixed;
  top: 20px;
  right: -80px;
  padding: 12px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 25px;
  opacity: 0;
}
#notif::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid rgba(0, 0, 0, 0.2); /* Bordure pour simuler la superposition */
  box-sizing: border-box;
  border-radius: 25px;
  top: 0;
  left: 0;
}

#notif.notif_on {
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease;
  transform: translateX(-100px); /* Modifié pour se décaler vers la gauche (0px) */
}

#notif.notif_off {
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
  transform: translateX(100px); /* Modifié pour se décaler vers la droite (100px) */
}


#notif_title, #notif_text{
  text-align: center;
  direction: rtl;
}

#notif_title {
  font-size: 25px;
}
